*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header-section-style-added */

header{
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}
/* ul-style-added */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li {
    list-style: none;
    margin-right:30px ;
}
li a{
    text-decoration: none;
}
.primary-text1{
color: #131313;
font-family: Work Sans;
font-size: 45px;
font-weight: 700;

}
.primary-text2{
color:#424242;
font-family: Work Sans;
font-size: 18px;
font-weight: 500;

}
.primary-text3{
    color: #727272;
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
}
/* banner-new-style */

.banner-conetent{
    max-width: 800px;
   margin: 0 auto;
   text-align: center;
}
.banner-new-title{
color:#131313;
font-family: Work Sans;
font-size: 64px;
font-weight: 700;
margin-top: 115px;
}
.banner-des{
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 30px;
}
.btn-primary{
border-radius: 8px;
background: #FF900E;
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
padding: 20px 24px;
border:0;
cursor: pointer;

}
.image img{
  margin-top: 50px;
  width: 100%;
}


main{
    max-width:1440px;
    margin:0 auto;
    /* padding:0px 240px 0px 240px; */
}
/* feature-container-style */
.feature-container{
    display: flex;
    align-items: center;
    margin-top: 85px;
}
.teams-content-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.teams-content-text{
    padding-left: 70px;
    padding-right: 70px;
}
.content-heading{
    color: #727272;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 24px;
}
.first-color{
    color:  #131313;
font-family: Work Sans;
font-size: 45px;
font-weight: 500;
}
.second-color{
    color: #FF900E;
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
}
.content-des{
color: #727272;
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
margin-bottom: 30px;
}
/* .fact-section-style */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;

}
.card{
    border: 1px solid lightgray;
    border-radius: 8px;
border: 1px solid #FF900E;
   text-align: center;
   padding: 45px 40px;

}
.fact-section{
    padding-top: 50px;
}
.card-stat{
color:  #424242;
font-family: Work Sans;
font-size: 45px;
font-weight: 600;

}
.card-title{
color: #727272;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
}
/* 
feature-section
card2-design */
.feature-section{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}
.feature-text-section{
    max-width: 585px;
  
}
.card2{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
margin-top: 50px;
padding: 30px 30px;
}
.card2-title{
    color: #131313;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;

}
.feature-text-title{
    padding: 24px 26px;
}
.architect{
    height: auto;
    width: 100%;
}
.achitect{
    position: relative;
}
.experience-mark{
border-radius: 8px;
background: #FF900E;
padding: 45px 42px;
position: absolute;
bottom: -50px;
left:-80px;
}


/* responsive-media-quaries */
@media screen and (max-width:576px) {
    header{
        padding:20px;
    }
    nav,.feature-container,.feature-section,.facts-card-container {
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
    }

    .teams-content-image{
        grid-template-columns: 1fr;
     
        
    }
   .experience-mark{
    position: absolute;
    left: 0;
   }
    
}

@media screen and (min-width:576px) and (max-width:992px) {
    
    nav,.feature-container { 
     flex-direction: column;
     padding: 50px;

    }
    .feature-section,.facts-card-container{
        flex-direction: column;
    }

    .teams-content-text{
        padding-top: 20px;
    }
    .feature-section{
        padding-left:70px;
    }
     
 }