*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background: rgba(255, 144, 14, 0.10);
}
/* header-section-style-added */

header{
    padding: 50px 240px;
}
/* ul-style-added */
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li {
    list-style: none;
    margin-right:30px ;
}
li a{
    text-decoration: none;
}
.primary-text1{
color: #131313;
font-family: Work Sans;
font-size: 45px;
font-weight: 700;

}
.primary-text2{
color:#424242;
font-family: Work Sans;
font-size: 18px;
font-weight: 500;

}
.primary-text3{
    color: #727272;
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
}
/* banner-new-style */

.banner-new-style{

 
   
}
.banner-conetent{
    max-width: 800px;
   margin: 0 auto;
   text-align: center;
}
.banner-new-title{
color:#131313;
font-family: Work Sans;
font-size: 64px;
font-weight: 700;
}
.btn-primary{
border-radius: 8px;
background: #FF900E;
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
padding: 20px 24px;
border:0;

}